.container {
  margin: 0.5rem 1rem;
  background: #fff;
  width: 20rem;
  height: 3.5rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 1rem 0 0 1rem;
  font-size: large;
  font-weight: bold;
}
